a:hover{
     text-transform: uppercase;
    text-decoration: none;
}

.navbar{
    height: 100px;
    position: fixed;
}
nav{
    display: inline-block;
    float: right;
}
nav>ul{
   display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
nav>ul>li{
    display: inline-block;
    padding: 40px 25px;
}
nav>ul>li>a{
      font-size: 13px;
    color: rgba(255, 255, 255, 0.749);
  font-weight: bold;
  text-transform: uppercase;
    position: relative;  
}
nav>ul>li>a:hover{
     
    color: rgba(255, 255, 255, 1);

}
.navbar-logo {
    display: inline-block;
    padding: 35.5px 0px;
}

.masthead {
    height: 750px;
    background: url('../img/header-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.overlay {
    background-color: rgba(43, 46, 74, 0.95);
    width: 100%;
    height: 100%;
    
}

.main-text {
    padding: 250px 150px 0px 150px;
  font-size: 65px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.092;
  text-align: center;
}

.last-text {
    padding: 40px 150px 0px 150px;
  font-size: 22px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: center;
}

.btn-mashed{
    padding-top: 85px;
}
.btn-mashed>a{
    display: inline-block;
    width: 200px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: #e84545;
    font-size: 13px;
    border-radius: 2px;
    padding:12px;
}

.features {
    height: 700px;
    padding: 70px 0px 40px 0px;
    position: relative;
}

.pad {
    padding: 40px 20px;
}
.pad>h5{
text-transform: uppercase;
    font-size: 14px;
    font-family: "Raleway" sans-serif;
    font-weight: 600;
    padding: 15px;
}
.pad>p{
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(108, 114, 121);
  line-height: 1.5;
  text-align: center;

}

.caption {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(232, 69, 69, 0.9);
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    opacity: 0;
}
.work-link:hover .caption{
    opacity: 1;
     -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.work-link {
       display: block;
    position: relative;
    max-width: 470px;
    margin: 0 auto;
}

.work-item {
    padding: 0.5px;
}
.work-link>img{
    display: block;
    max-width: 100%;
    height: auto;
}

.caption-content {
    padding: 30% 0%;
    height: 100%;
}
.caption-content>h5{
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
    font-weight: 600;
}
.caption-content>p{
    text-transform:capitalize;
    font-family: "Raleway";
  color: rgb(255, 255, 255);
     font-size: 14px;
    font-weight: 100;
}

footer{
    background-color: rgba(43, 46, 74, 0.95);
    padding-bottom: 30px;
}

footer h5{
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
    padding: 75px 0px 20px 0px;
}
footer p{
  font-size: 14px;
  font-family: "Raleway";
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.607;

}
.f-social a{
    color: #fff;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    padding-top: 6px;
    margin: 0px 3px;
    display: inline-block
}
footer a:hover{
    color: #fff;
    border: none;
}

.after-line {
    height: 100px;
    background-color: rgb(43, 46, 74);
    width: 100%;
    color: rgba(255, 255, 255, 0.502);
        font-size: 14px;
    padding-top: 30px

}
.after-line a{
    font-size: 14px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);  
    text-transform: capitalize; 

}
.after-line a:hover{
text-transform: capitalize; 
}

.team {
    height: 800px;
    padding: 100px 0px;
}
.team-info h4{
  font-size: 22px;
  font-family: "Raleway";
  color: rgb(45, 48, 51);
}

.team-info span{
  font-size: 13px;
  font-family: "Raleway";
  color: rgb(232, 69, 69);
  text-transform: uppercase;
}

.team-info p{
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(108, 114, 121);
  line-height: 1.5;
    padding: 30px 0px;
}

.team .f-social>a{
    color: #c6cacc;
    border: 1px solid #c6cacc;
    text-align: center;
    margin: 0px 6px 0px 0px;
}
